---
import { FaGithubSquare, FaLinkedin } from 'react-icons/fa';
---

<footer class="flex flex-col justify-center items-center mb-10 pt-28">
  <p class="px-2 md:text-2xl mb-20 text-center">This portfolio was built using Tailwind, Astro and TypeScript.</p>
  <div class="w-full flex justify-between items-center px-4 text-sm md:text-base">
    <p>© {new Date().getFullYear()} Isaac Fimbres.</p>
    <span class="flex space-x-1 md:space-x-2">
      <a href="https://www.linkedin.com/in/fimbres-isaac/" rel="noreferrer" target="_blank" class="text-brand hover:opacity-50 transition-opacity">
        <FaGithubSquare size={35} />
      </a>
      <a href="https://github.com/fimbres" rel="noreferrer" target="_blank" class="text-brand hover:opacity-50 transition-opacity">
        <FaLinkedin size={35} />
      </a>
    </span>
  </div>
</footer>
